<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<body>
<th:block layout:fragment="css"><link rel="stylesheet" href="/css/common.css"></th:block><!--넣고자 하는 css 이름 변경-->
<section layout:fragment="content" id="container" class="sub pagename pageSubname"> <!--안내페이지는 sub 붙여야함(크키 및 쉐도우가 다름)-->
  <a th:href="@{/board/cmct}"><h1>커뮤니티</h1></a>
  <div id="content" class="content">
    <form action="/board/search" method="get">
      <input type="hidden" name="group_idx" th:value="${groupIdx}">
      <input type="hidden" name="board_type" th:value="${boardType}">
      <div class="btn_group mt20 mb20">
        <input type="text" name="keyword" value="" required placeholder="제목으로 검색하기" style="width: 60%;">
        <button type="submit" class="small color2">검색</button>
      </div>
    </form>

    <!-- 검색 결과 영역 -->
    <div th:if="${isSearch != null and isSearch}">
      <p><strong>검색 결과:</strong></p>

      <div th:if="${#lists.isEmpty(paging)}">
        <p>검색 결과가 없습니다.</p><br>
        <a th:href="@{/board/cmct}"><button type="button">뒤로 가기</button></a>
      </div>

      <table th:if="${not #lists.isEmpty(paging)}">
        <tr>
          <th>NO</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>댓글</th>
        </tr>
        <tr th:each=" board, stat : ${paging}">
          <td th:text="${startNum - stat.index}" style="width: 5%;"></td>
          <td>
            <a th:href="@{/board/cmct_view(group_idx=${groupIdx},idx=${board.idx},member=${board.member != null ? board.member.idx : 0},board_type=${boardType})}"
               th:text="${board.title}"></a>
          </td>
          <td th:text="${#strings.substring(board.member.name, 0, 1) + '*' + #strings.substring(board.member.name, 2)}"  style="width: 10%;"></td>
          <td th:text="${#dates.format(board.createdAt, 'yy.MM.dd HH:mm')}"  style="width: 15%;"></td>
          <td th:text="${commentCountMap[board.idx] != null ? commentCountMap[board.idx] : 0}"></td>
        </tr>
        <tr>
          <td colspan="4">
            <a th:href="@{/board/cmct}"><button type="button" class="small">뒤로 가기</button></a>
          </td>
        </tr>
      </table>
    </div>
    <table th:if="${isSearch == null or not isSearch}">
      <tr>
        <th>NO</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>댓글</th>
      </tr>
      <tr th:if="${paging == null or paging.empty}">
        <td colspan="5" style="text-align: center;">등록된 게시물이 없습니다.</td>
      </tr>
      <tr th:each=" board,stat : ${paging}">
        <td th:text="${startNum - stat.index}" style="width: 5%;"></td>
        <td style="width: 65%"><a th:href="@{/board/cmct_view(group_idx=${groupIdx},idx=${board.idx},member=${board.member.idx},board_type=${boardType})}" th:text="${board.title}"></a></td>
        <td th:text="${board.member != null ? #strings.substring(board.member.name, 0, 1) + '*' + #strings.substring(board.member.name, 2) : '알수없음'}"  style="width: 10%;"></td>
        <td th:text="${#dates.format(board.createdAt, 'yy.MM.dd HH:mm')}"  style="width: 15%;"></td>
        <td th:text="${commentCountMap[board.idx] != null ? commentCountMap[board.idx] : 0}"></td>
      </tr>
      <tr th:if="${paging != null and not paging.empty}">
        <td colspan="5">
          <div th:replace="~{fragment/paging_board :: paging}"></div>
        </td>
      </tr>
    </table>
    <div class="btn_group mt20">
      <a th:href="@{/board/cmct_write(group_idx=${groupIdx},board_type=${boardType})}"><button>글쓰기</button></a>
    </div>
  </div><!--E content-->
</section><!--E container-->
</body>
</html>
