<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<body>
<th:block layout:fragment="css"><link rel="stylesheet" href="/css/common.css"></th:block><!--넣고자 하는 css 이름 변경-->
<section layout:fragment="content" id="container" class="sub pagename pageSubname"> <!--안내페이지는 sub 붙여야함(크키 및 쉐도우가 다름)-->
  <a th:href="@{/board/event}"><h1>이벤트</h1></a>
  <div id="content" class="content">
    <form name="event" method="post" action="/board/event_proc" enctype="multipart/form-data" th:object="${commonForm}">
      <input type="hidden" name="board_type" th:value="${boardType}">
      <input type="hidden" name="group_idx" th:value="${groupIdx}">
      <!--유효성 검사 통과용-->
      <input type="hidden" name="email" value="user@example.com" />
      <input type="hidden" name="name" value="홍길동" />
      <input type="hidden" name="userid" value="user123" />
      <input type="hidden" name="pwd" value="password123" />
      <table>
        <tr>
          <td colspan="2">현재 페이지는 관리자 전용 페이지입니다.</td>
        </tr>
        <tr>
          <td>제목</td>
          <td>
            <input type="text" name="title" value="" required placeholder="제목을 입력해주세요.">
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="display: none;"></div>
          </td>
        </tr>
        <tr>
          <td>본문</td>
          <td>
            <textarea cols="30" rows="2" name="content" required placeholder="본문을 입력해주세요."></textarea>
            <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="display: none;"></div>
          </td>
        </tr>
        <tr>
          <td>이미지 첨부파일</td>
          <td>
            <input type="file" name="attachment" required placeholder="해당 페이지는 첨부파일 필수입니다.">
          </td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit">작성하기</button></td>
        </tr>
      </table>
      <div th:if="${errors}">
        <ul>
          <li th:each="error : ${errors}">
            <span th:text="${error.defaultMessage}"></span>
          </li>
        </ul>
      </div>
    </form>
  </div><!--E content-->
</section><!--E container-->
</body>
</html>
