<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<th:block layout:fragment="css">
  <style>
    .left {text-align: left;}
  </style>
</th:block>
<body>
<section layout:fragment="content" id="container" class="sub pagename pageSubname"> <!--안내페이지는 sub 붙여야함(크키 및 쉐도우가 다름)-->
  <a th:href="@{/board/gallery}"><h1>갤러리</h1></a>
  <div id="content" class="content">
    <form name="gallery" method="post" action="/board/gallery_proc" enctype="multipart/form-data" th:object="${commonForm}">
      <input type="hidden" name="board_type" th:value="${boardType}">
      <input type="hidden" name="group_idx" th:value="${groupIdx}">
      <!--유효성 검사 통과용-->
      <input type="hidden" name="name" value="홍길동" />
      <input type="hidden" name="email" value="user@example.com" />
      <input type="hidden" name="userid" value="user123" />
      <input type="hidden" name="pwd" value="password123" />
    <table>
      <tr>
        <th colspan="2">현재 페이지는 관리자 전용 페이지입니다.</th>
      </tr>
      <tr>
        <th>제목</th>
        <td>
          <input type="text" name="title" value="" required placeholder="제목을 입력해주세요.">
          <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="display: none;"></div>
        </td>
      </tr>
      <tr>
        <th>본문</th>
        <td>
          <textarea cols="30" rows="2" name="content" required placeholder="본문을 입력해주세요."></textarea>
          <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="display: none;"></div>
        </td>
      </tr>
      <tr>
        <th>이미지 첨부파일</th>
        <td class="left pd10"><input type="file" id="imageInput" name="attachment" required accept="image/*" placeholder="해당 페이지는 첨부파일 필수입니다."></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="btn_group mt20">
            <button type="button" onclick="goBack()">뒤로가기</button>
            <button type="submit" class="color2">작성하기</button>
            <button type="reset">초기화</button>
          </div>
        </td>
      </tr>
    </table>
      <div th:if="${errors}">
        <ul>
          <li th:each="error : ${errors}">
            <span th:text="${error.defaultMessage}"></span>
          </li>
        </ul>
      </div>
    </form>
  </div><!--E content-->
</section><!--E container-->
<th:block layout:fragment="script">
  <script>
    const input = document.getElementById('imageInput');
    const MAX_SIZE = 1000 * 1024 * 1024; // 1000MB
    input.addEventListener('change', () => {
      const file = input.files[0];
      if (!file) return;

      if (!file.type.startsWith('image/')) {
        alert('해당 페이지는 이미지 파일만 업로드할 수 있습니다.');
        input.value = ''; // 선택 초기화
      }
      if (file.size > MAX_SIZE) {
          alert('첨부파일은 최대 1000MB(1GB)까지만 업로드할 수 있습니다.');
          this.value = ''; // 파일 입력 초기화
      }
    });
  </script>
</th:block>
</body>
</html>
