<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{fragment/layout}">

<body>
<section layout:fragment="content">
    <link rel="stylesheet" href="/css/gallery.css">
    <main class="gallery-container">
        <a th:href="@{/board/gallery}"><h1 class="gallery-title">갤러리</h1></a>
        <!--<a href="/admin" sec:authorize="hasRole('ADMIN')"></a>-->
        <div th:if="${member != null and member.grade == 10}">
            <a th:href="@{/board/gallery_write(board_type=${boardType}, group_idx=${groupIdx})}" sec:authorize="hasRole('ADMIN')"><button class="small mb15">[관리자]글쓰기</button></a>
        </div>
        <div class="gallery">
            <div th:if="${#lists.isEmpty(boardList)}" style="text-align: center; width: 100%; padding: 40px 0; color: gray;">
                등록된 게시물이 없습니다.
            </div>
            <a th:href="@{/board/gallery_view(idx=${board.idx}, board_type=${boardType}, group_idx=${groupIdx})}" th:if="${groupIdx == 4}" th:each="board : ${boardList}" class="card" >

                <div th:if="${board.attachment != null}">
                    <img th:src="@{|/data/${board.attachment.filePath}|}" alt="첨부 이미지" class="card-img"/>
                </div>

                <div class="card-text">
                    <h3 th:text="${board.title}"></h3>
                    <p  th:text="'작성일 : ' + ${#dates.format(board.createdAt, 'yy.MM.dd')}"></p>
                    <div th:text="'조회수 : ' + ${board.viewCnt}"></div>
                </div>

            </a>

        </div>
    </main>

</section>
</body>
</html><!--E contents-->