<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<body>
<section layout:fragment="content" id="container" class="sub pagename pageSubname"> <!--안내페이지는 sub 붙여야함(크키 및 쉐도우가 다름)-->
  <a th:href="@{/board/notice}"><h1>공지 사항</h1></a>
  <div th:if="${member != null and member.grade == 10}">
    <a th:href="@{/board/notice_write(group_idx=${groupIdx}, board_type=${boardType})}"><button class="small mb15">[관리자]글쓰기</button></a>
  </div>
  <div id="content" class="content">
    <table th:if="${groupIdx == 1}">
      <!-- 게시물이 없을 때 -->
      <tbody th:if="${paging.empty}">
      <tr>
        <td colspan="5" style="text-align: center; color: gray;">등록된 게시물이 없습니다.</td>
      </tr>
      </tbody>

      <!-- 게시물이 있을 때 -->
      <tbody th:if="${not paging.empty}" th:each="board, stat : ${paging}">
      <tr>
        <td th:text="${startNum - stat.index}" style="width: 5%;"></td>
        <td style="width: 80%;">
          <a th:href="@{/board/notice_view(group_idx=${groupIdx}, board_type=${boardType}, idx=${board.idx})}" th:text="${board.title}"></a>
        </td>
        <td th:text="${#dates.format(board.createdAt, 'yyyy.MM.dd HH:mm')}"></td>
      </tr>
      </tbody>

      <tr th:if="${not paging.empty}">
        <td colspan="3">
          <div th:replace="~{fragment/paging_board :: paging}"></div>
        </td>
      </tr>
    </table>

  </div><!--E content-->
</section><!--E container-->
</body>
</html>
