<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<th:block layout:fragment="css">
    <style>
        table {display : table;}
        .jcsb a, .jcsb span {display : table-cell;}
        table tr th {width: 20%;}
        .left {text-align: left;}
        .mh {min-height: 100px; align-content: center;}
    </style>
</th:block><!--넣고자 하는 css 이름 변경-->
<body>
<section layout:fragment="content" id="container" class="sub pagename pageSubname"> <!--안내페이지는 sub 붙여야함(크키 및 쉐도우가 다름)-->
    <a th:href="@{/board/notice}"><h1>공지 사항</h1></a>
    <div id="content" class="content">
        <table th:if="${(groupIdx == 1) and (idx == board.idx)}">
            <tr>
                <th>제목</th>
                <td th:text="${board.title}" class="pd10 left"></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td th:text="${#dates.format(board.createdAt, 'yyyy년 MM월 dd일 a hh:mm')}" class="pd10 left"></td>
            </tr>
            <tr>
                <th>본문</th>
                <td><pre th:text="${board.content}" class="pd10 left mh"></pre></td>
            </tr>
            <tr th:if="${board.attachment != null}">
                <th>첨부 파일</th>
                <td>
                    <div class="jcsb" style="display: flex; padding: 0 10px;">
                        <span th:text="${board.attachment.fileName}"></span>
                        <a th:href="@{/board/file/download/{idx}(idx=${board.attachment.idx})}">
                            <button type="button" class="small"><i class="xi-save"></i></button>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="btn_group mt20">
                        <a th:href="@{/board/notice}">
                            <button type="button" class="small">목록으로</button>
                        </a>
                        <div th:if="${member != null and member.grade == 10}">
                            <a th:href="@{/board/delete(group_idx=${groupIdx}, board_type=${boardType}, idx=${board.idx}, memberIdx=${1}, comments_idx=${0})}"><button class="color1 small">[관리자]삭제</button></a>
                            <a th:href="@{/board/modify(group_idx=${groupIdx}, board_type=${boardType}, idx=${board.idx},commentsIdx=0)}"><button type="button" class="color2 small">[관리자]수정</button></a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div><!--E content-->
</section><!--E container-->
</body>
</html>
