<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<body>
<th:block layout:fragment="css"><link rel="stylesheet" href="/css/common.css"></th:block><!--넣고자 하는 css 이름 변경-->
<section layout:fragment="content" id="container" class="sub pagename pageSubname"> <!--안내페이지는 sub 붙여야함(크키 및 쉐도우가 다름)-->
  <a th:href="@{/board/oftenquestion}"><h1>자주 묻는 질문</h1></a>
  <div id="content" class="content">
    <form name="oftenquestion" method="get" action="/board/oftenquestion_write_proc" th:object="${commonForm}">
      <input type="hidden" name="board_type" th:value="${boardType}">
      <input type="hidden" name="group_idx" th:value="${groupIdx}">
      <!--유효성 검사 통과용-->
      <input type="hidden" name="email" value="user@example.com" />
      <input type="hidden" name="name" value="홍길동" />
      <input type="hidden" name="userid" value="user123" />
      <input type="hidden" name="pwd" value="password123" />
      <table>
        <tr>
          <td colspan="2">현재 페이지는 관리자 전용 페이지입니다.</td>
        </tr>
        <tr>
          <th>질문 제목</th>
          <td><input type="text" name="title" required placeholder="제목을 입력해주세요."></td>
          <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="display: none;"></div>
        </tr>
        <tr>
          <th>질문 내용</th>
          <td><textarea type="text" name="content" required placeholder="본문을 입력해주세요."></textarea></td>
          <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="display: none;"></div>
        </tr>
        <tr>
      </table>
      <table>
        <th>답변 제목</th>
          <td><input type="text" name="answerTitle" required placeholder="제목을 입력해주세요."></td>
          <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="display: none;"></div>
        </tr>
        <tr>
          <th>답변 내용</th>
          <td><textarea type="text" name="answerContent" required placeholder="본문을 입력해주세요."></textarea></td>
          <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="display: none;"></div>
        </tr>
        <tr>
          <td colspan="2">
            <div class="btn_group mt20">
              <button type="button" onclick="goBack()" class="small">뒤로가기</button>
              <button type="submit" class="color2">작성하기</button>
              <button type="reset" class="small">초기화</button>
            </div>
          </td>
        </tr>
      </table>
      <div th:if="${errors}">
        <ul>
          <li th:each="error : ${errors}">
            <span th:text="${error.defaultMessage}"></span>
          </li>
        </ul>
      </div>
    </form>
  </div>
</section><!--E container-->
</body>
</html>
