<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<body>
<section layout:fragment="content" id="container" class="sub pagename pageSubname"> <!--안내페이지는 sub 붙여야함(크키 및 쉐도우가 다름)-->
    <a th:href="@{/board/oftenquestion}"><h1>자주 묻는 질문</h1></a>
    <div th:if="${member != null and member.grade == 10}">
        <a th:href="@{/board/oftenquestion_write(group_idx=${groupIdx}, board_type=${boardType})}"><button type="button" class="small mb15">[관리자] 글쓰기</button></a>
    </div>
    <div id="content" class="content">

        <table>
            <tr th:if="${paging.empty}">
                <td colspan="5" style="text-align: center;">등록된 게시물이 없습니다.</td>
            </tr>
            <tr th:each="board : ${paging}" th:if="${groupIdx == 5 and board.re == 1}">
                <td><a th:href="@{/board/oftenquestion_view(group_idx=${groupIdx}, board_type=${boardType}, title=${board.title}, idx=${board.idx})}" th:text="${board.title}"></a></td>
            </tr>
            <tr th:if="${not paging.empty}">
                <td>
                    <div th:replace="~{fragment/paging_board :: paging}"></div>
                </td>
            </tr>
        </table>
    </div><!--E content-->
    <div class="btn_group mt20">
        <a th:href="@{/board/personalquestion}"><button>1 대 1 문의하러 가기</button></a>
        <a th:href="@{/board/myboard}"><button>내가 쓴 글 보러가기</button></a>
    </div>
</section><!--E container-->
</body>
</html>
