<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragment/layout}">
<body>
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/adminuserinfo.css">
</th:block>

<section layout:fragment="content" id="container" class="sub pagename pageSubname">
  <div id="content" class="content">

    <form th:action="@{/api/member/adminuserinfo}" method="post" th:object="${member}" xmlns:th="http://www.w3.org/1999/xhtml">
      <h2 class="page_title">회원 관리</h2>

      <section class="info_card">
        <div class="info_row">
          <div class="info_item">
            <label for="idx">회원번호</label>
            <input type="text" id="idx" th:field="*{idx}" readonly>
          </div>
          <div class="info_item">
            <label for="name">회원 이름</label>
            <input type="text" id="name" th:field="*{name}">
          </div>
          <div class="info_item">
            <label for="email">이메일</label>
            <input type="text" id="email" th:field="*{email}">
          </div>
          <div class="info_item">
            <label for="telecom">통신사</label>
            <select th:field="*{telecom}">
              <option value="skt">SKT</option>
              <option value="kt">KT</option>
              <option value="lg">LG</option>
            </select>
            <input type="text" th:field="*{mobile}">
          </div>
        </div>

        <div class="info_row">
          <div class="info_item">
            <label for="status">회원 상태</label>
            <select th:field="*{status}">
              <option value="정상">정상</option>
              <option value="탈퇴">탈퇴</option>
              <option value="정지">정지</option>
            </select>
          </div>
          <div class="info_item">
            <label for="grade">권한</label>
            <select th:field="*{grade}">
              <option value="1">일반</option>
              <option value="10">관리자</option>
            </select>
          </div>
        </div>
      </section>

      <div class="bottom_btns">
        <button type="submit" class="save_btn">저장</button>
      </div>
    </form>

  </div><!--E content-->
</section><!--E container-->
</body>
</html>
