<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 재설정 완료</title>
  <link rel="stylesheet" href="/css/pwdresetform.css">
</head>
<body>


<!-- 팝업창 -->
<div id="popup" class="popup">
  <p th:text="${message}">비밀번호가 변경되었습니다. 다시 로그인 해주세요.</p>
  <button onclick="window.location.href='/api/member/login'">로그인 페이지로</button>
</div>

<!-- JavaScript 팝업 띄우기 -->
<script>
  window.onload = function() {
    var message = "${message}"; // 서버에서 넘긴 message

    if (message) {
      document.getElementById('popup').classList.add('active');

      // 3초 후에 로그인 페이지로 리디렉션
      setTimeout(function() {
        window.location.href = '/api/member/login'; // 로그인 페이지로 리디렉션
      }, 3000); // 3초 후
    }
  };
</script>

</body>
</html>
