<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="header" class="open">
        <div class="logo">
            <a href="/home">
                <span></span>
            </a>
        </div>

        <nav>

            <ul id="gnb">
                <!--모바일 토클 버튼-->
                <li class="toggle icon xi-list"></li>

                <li class="nav_item">
                    <strong><a href="/home">소개글</a></strong>
                    <div class="sub_nav_layer">
                        <ul class="sub_group group1">
                            <li><a href="/page/about">시설 소개</a></li>
                            <li><a href="/page/map">오시는 길</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav_item">
                    <strong><a href="#">웨딩</a></strong>
                    <div class="sub_nav_layer">
                        <ul class="sub_group group2">
                            <li><a href="/page/place">장소 소개</a></li>
                            <li><a href="/page/rental">대관 안내</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav_item">
                    <strong><a href="#">이용 안내</a></strong>
                    <div class="sub_nav_layer">
                        <ul class="sub_group group3">
                            <li><a href="/reservation/index">상담 예약</a></li>
                            <li><a href="/board/notice">공지 사항</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav_item">
                    <strong><a href="/board/cmct">커뮤니티</a></strong>
                    <div class="sub_nav_layer">
                        <ul class="sub_group group4">
                            <li><a href="/board/event">이벤트</a></li>
                            <li><a href="/board/gallery">갤러리</a></li>
                            <li><a href="/board/oftenquestion">문의 사항</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav_item login" th:if="${session.loginMember == null and session.loginSnsUser == null}">
                    <strong>
                        <a href="/api/member/login">
                            <span class="xi-profile-o"></span><br>
                            <span>로그인/회원가입</span>
                        </a>
                    </strong>
                    <div class="sub_nav_layer">
                        <ul class="sub_group group5">
                            <li><a href="/member/mypage">회원정보수정</a></li>
                            <li><a href="/reservation/list">나의 예약 현황</a></li>
                            <li><a th:href="@{/board/myboard_page(group_idx=${groupIdx},board_type=${boardType},member=1)}">작성글 확인</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav_item login" th:if="${session.loginMember != null or session.loginSnsUser != null}">
                    <strong>
                        <a href="/logout">
                            <span class="xi-profile-o"></span><br>
                            <span>로그아웃</span>
                        </a>
                    </strong>
                    <div class="sub_nav_layer">
                        <ul class="sub_group group5">
                            <li><a href="/member/mypage">회원정보수정</a></li>
                            <li><a href="/reservation/list">나의 예약 현황</a></li>
                            <li><a th:href="@{/board/myboard_page(group_idx=${5},board_type=${2},member=1)}">작성글 확인</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</html>