<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">
  <meta charset="UTF-8">

  <th:block layout:fragment="title">
    <!-- 각 페이지의 title -->
  </th:block>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/style.css">
  </th:block>

  <th:block layout:fragment="javascript">
    <!-- 각 페이지의 javascript -->

    <!--카카오 맵 스크립트-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3bf69ce9275feb61004f536b17f363b9"></script>

  </th:block>

</head>
</html>