*{
    border: 0.5px solid gainsboro;
}

section{
   width: 100%;
}
article{
   margin: 500px 0;
   width: 100%;
}
body{
    position: relative;
}

 /* 헤더 기본 */
header {
   width: 100%;
   height:70px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   z-index: 999;
   top: 0;
 }
 /* 로고 */
 .logo img{
   width: 100px;
   height: auto;
 }
/*nav*/
nav{
   position: relative;
}
#gnb{
   width: 750px;
   height: 70px;
   display: flex;
   justify-content: space-around;
   text-align:center;
   background-color: #D6CAE8;
   border-radius: 0 0 0 30px;
   transition: border-radius 0.8s ease; /* border-radius 애니메이션 추가 */
}
#gnb a{
   color:#000;
}
#gnb li:hover a{
   color:#F7F4ED;
}
#gnb li{
   min-width: 120px;
   font-size: 18px;
   padding: 20px;
   border-radius: 10px;
}
#gnb li:hover{
   background-color: #8676A1;
}
#gnb li:last-child{
   width: 150px;
  padding: 5px;
}
#gnb li:last-child:hover span{
  color: #F7F4ED;
}
a.nav_item.login span:last-child{
   font-size: 14px;
   line-height: 0;
}
.xi-profile-o{
   font-size:30px;
}
.sub_nav_layer{
   width: 750px;
   position: absolute;
   justify-content:space-between;
   top: 70px;
   left: 0;
   background-color: #D6CAE8;
   border: 1px solid #ccc;
   border-radius: 0 0 0 30px;
   padding: 10px;
   z-index: 998;

   display: flex;
   opacity: 0;
   transform: translateY(-10px);
   pointer-events: none;

   transition: opacity 0.3s ease, transform 0.3s ease, border-radius 0.3s ease; /* border-radius 애니메이션 추가 */
}

/* 서브 네비게이션이 보일 때 border-radius를 0으로 설정 */
nav:hover #gnb {
   border-radius: 0; /* 서브 네비게이션이 보일 때 border-radius 0 */
}
nav:hover .sub_nav_layer {
   display: flex;
   position: absolute;
   top: 70px; /* header 높이에 따라 조절 */
   left: 0;
   background-color: #D6CAE8;
   border: 1px solid #ccc;
   border-radius: 0 0 0 30px;
   padding: 10px;
   z-index: 998;
   border-radius: 0 0 0 30px; /* 서브 네비게이션 활성화 시 border-radius 0 */
   opacity: 1; /* 서브 네비게이션 표시 */
   transform: translateY(0); /* 서브 네비게이션 위치 */
}
.sub_nav_layer a{
   color:#000;
}
.sub_group li:hover a{
   color:#F7F4ED;
}
.sub_group {
   min-width:120px;
}
.sub_group:last-child{
   width: 150px;
}
.sub_group li{
   min-width: 100px;
   font-size: 15px;
   padding:10px;
   text-align: center;
   border-radius: 8px;
   margin: 5px 0;
}
.sub_group li:hover{
   background-color: #8676A1;
}
.sub_group:nth-child(3) li:first-child{
   font-size: 14px;
}




 /* 푸터 */
footer {
   background-color: #9b89b3; /* 보라색 배경 */
   color: #F7F4ED; /* 텍스트 색상 */
   padding: 80px;
   display: flex;
}
footer div{
   width: 300px;
}
.copy{
   margin-right: 600px;
   line-height: 50px;
}
#snsIcon{
   justify-content: space-around;
}
.myAccount{

   display: block;
}
.myAccount a{
 color:#F7F4ED;
}