

.card-img{
    max-width: 100%;
    max-height: 500px;
}
.content div:nth-child(2){
    text-align: center;
}
.content.event{
    display: block !important;
}
.event.at{
    line-height:50px;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}
#eventContent{
    min-height: 100px;
    align-content: center;
    line-height: 15px;
    border-bottom: 1px solid lightgray;
}
.event.view{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}


.event.board{
    padding: 10px;
    min-height: 500px;
    width: 400px;
    position: relative;
    margin: 30px auto;
    display: block;
}

.event.board:not(:last-child){
  border-bottom: 1px solid lightgray;
  /*padding: 10px 0;*/
}

.event.board .card-img , .card-img img{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0; left: 0;
}
.event.title{
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 300px;
}
.xi-step-forward{
    margin-left: 340px;
    font-size: 50px;
}



.tag{
    font-size: 15px;
    border: 1px solid;
    border-radius: 15px;
    padding: 3px 6px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}