/* 갤러리 기본 스타일 */
.content div:nth-child(4){
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.content div:nth-child(3){
    min-height: 100px;
    align-content: center;
    border-bottom: 1px solid lightgray;
}
.gallery-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.gallery-title {
    font-size: 32px;
    margin-bottom: 30px;
}

.gallery-subtitle {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-imgView{
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.card-text {
    padding: 15px;
}

.card-text h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.card-text p {
    margin: 0;
    font-size: 14px;
    color: #555;
}
