.customOverlayWrap {
    position: relative;
    bottom: 40px;
    top: -70px;
    left: -20px;
    width: 300px;
}

.customOverlayInfo {
    width: 350px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

.customOverlayTitle {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background: #D6CAE8;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.customOverlayClose {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 17px;
    height: 17px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png') no-repeat;
    cursor: pointer;
}

.customOverlayBody {
    display: flex;
    padding: 10px;
}

.customOverlayImg {
    margin-right: 10px;
}
.customOverlayImg img{
    width: 80px;
    height: auto;
}
.customOverlayDesc {
    font-size: 13px;
    line-height: 1.4;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
    display: block;
}

.jibun {
    color: #888;
    margin-top: 2px;
}

.link {
    color: #5085BB;
    margin-top: 5px;
    display: inline-block;
}
.jibun.linkBox{
    display: flex;
    width: 240px;
}
.link i{
    color: royalblue;
}


/*오시는 길 상세 페이지*/
.mapInfoTbl tr td{
       line-height: 30px;
       font-weight: 500;
}
.mapInfoTbl tr td p{
    font-weight: 300;
    font-size: 15px;
}
.mapInfoTbl tr td b{
    color: red;
}

#map {
  width: 100%;
  height: 400px; /* 또는 원하는 크기 */
  position: relative;
}
.mapBox {
  position: relative;
}


.radius_border{border:1px solid #919191;border-radius:5px;}
.custom_typecontrol {display: flex; position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol #btnSkyview {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}
.custom_typecontrol #btnSkyview:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol #btnSkyview:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}
.custom_typecontrol #btnRoadmap {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol #btnRoadmap:hover {color:#fff;}
.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;}
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}
.custom_zoomcontrol span i {width:15px;height:15px;padding:12px 19px 0 0;border:none;}
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}

/*가이드맵 이미지*/
.mapImg{text-align: center;}
.mapImg img{ width: 80%; height: auto;}
.openTime{display: block;}
.openTime.span{text-align: left; margin: 0 auto; width: 35%;}