.form_group select, .form_group input[type="text"], .form_group input[type="date"] {max-width:none;}

/* 섹션 제목 */
.section_title{font-size:1.2em;font-weight:bold;margin-bottom:5px;}
.section_title_sub{font-size:0.75em;font-weight:bold;margin-bottom:10px;color:red;}

/* 폼 그룹 공통 */
.form_group{display:flex;align-items:center;gap:10px;margin-bottom:15px;}
.form_group label{min-width:100px;width:auto;font-size:0.9em;font-weight:700;color:#444;flex-shrink:0;}
.required{color:red;}

/* 입력 필드 공통 */
input[type="text"],input[type="date"],select {height:43px;}
input[type="text"],input[type="date"],select,textarea{width:100%;padding:10px 12px;font-size:0.95em;border:1px solid #ccc;border-radius:6px;transition:border-color 0.3s;}
input:focus,select:focus,textarea:focus{border-color:#000;outline:none;}
.price_box input[type="text"] {width:auto;}

/* 날짜 / 시간 */
.event_date{display:flex;flex-wrap:wrap;align-items:center;gap:10px;}
.event_date input[type="date"],.event_date select{flex:1;min-width:120px;}
#event_date_undecided{margin-left:8px;}

/* 라디오 그룹 */
input[type="radio"],input[type="checkbox"]{margin-right:3px;vertical-align:middle;}
#guestCntContainer, .hall,
.guestCntContainer, .flower,.meal_type {display:flex;flex-wrap:nowrap;align-items:center;gap:6px;flex-shrink:1;}
.guestCntContainer label, .hall label,.flower label,.meal_type label{display:inline-flex;align-items:center;gap:3px;white-space:nowrap;font-size:0.85em;line-height:1.5;}

/* 연락처 */
.mobile{display:flex;align-items:center;gap:10px;}
.mobile input[type="text"]{width:22%;}

/* select/input 크기 조정 */
.form_group select,
.form_group input[type="text"],
.form_group input[type="date"]{flex:1;min-width:120px;}

/* 금액 산출 */
.price_box{display:flex;align-items:center;gap:12px;margin-top:25px;}

.price_display {min-width:200px;height:43px;line-height:43px;padding:0 10px;font-size:1em;border:1px solid #ccc;border-radius:6px;text-align:right;background-color:#f5f5f5;}

/* 문의사항 */
textarea{width:100%;padding:12px;font-size:0.95em;resize:vertical;border-radius:6px;min-height:150px;}

/* 개인정보 동의 */
.privacy_info{margin:0 0 10px 20px;font-size:14px;color:#666;line-height:1.4;}
.privacy_info { flex-shrink: 0; width:220px;}
@media (max-width: 500px) {
    .form_group.align_start label {flex-grow:1;flex-shrink:1;}
}


/* 안내 페이지
.process_title {font-size:24px; font-weight:700; margin-bottom:20px;}
.process_steps {display:flex; flex-direction:column; gap:15px;}
.step {background:#fff; padding:20px; border-radius:8px; box-shadow:0 2px 5px rgba(0,0,0,0.1); display:flex; align-items:center; gap:15px;}
.step_num {background:#557895; color:#fff; font-weight:bold; width:40px; height:40px; border-radius:50%; display:flex; align-items:center; justify-content:center; font-size:16px; flex-shrink:0;}
.step_desc {text-align:left;}
.step_desc h3 {margin:0; font-size:18px; font-weight:600;}
.step_desc p {margin:5px 0 0; font-size:15px; color:#555;}*/

.process_section {padding:40px 20px;}
.process_steps {display:flex;flex-wrap:wrap; justify-content:space-between;align-items:center;gap:10px;margin-bottom:30px;}
.step {text-align:center;}
.step .icon {width:60px;height:60px;line-height:60px;margin:0 auto 10px;border-radius:50%;background:#7768ae;color:#fff;font-weight:700;font-size:20px;}
.step_title {font-size:15px;color:#333;}

.arrow {display:flex;align-items:center;justify-content:center;font-size:24px;color:#7768ae;margin:0 10px;}

.process_guide dt {font-weight:bold;color:#7768ae;}
.process_guide dd {margin-bottom:10px;padding-left:7px;color:#555;}
.process_guide div {margin-bottom:20px;}

@media (max-width: 764px) {
    #user #content {padding:30px 20px;}
    .process_steps {justify-content:start;}
    .step {width:calc(25% - 10px);}

    .hall {gap:0;}
    .price_box button {padding:7px 15px;}
}
@media (max-width: 480px) {
    .price_display {min-width:120px;}
}
