<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>에러 페이지</title>
  <style>
    .error-container { max-width: 500px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px; }
    .error-title { font-size: 24px; font-weight: bold; color: red; }
    .error-message { margin: 10px 0; font-size: 18px; word-break:break-all; }
    .error-details { margin: 10px 0; word-break:break-all; }

  </style>
</head>
<body>

<div class="error-container">
  <div class="error-title" th:text="${errorTitle}">에러 발생</div>
  <div class="error-code">오류 코드: <span th:text="${errorCode}"></span></div>
  <div class="error-message" th:text="${errorMessage}">에러 메시지가 여기에 표시됩니다.</div>
  <div class="error-details">상세 내용 : <br><span th:text="${errorDetails}">예외 상세 내용 표시</span> </div>
  <button onclick="goBack()">뒤로 가기</button>
</div>

<script>
  function goBack() {
      window.history.back();
  }
</script>

</body>
</html>
