<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragment/layout}">
<body>
    <section layout:fragment="content" class="main">
        <link rel="stylesheet" href="/css/main.css">

        <div class="slider"><!--메인 이미지 캐러셀-->
            <div class="slide slide1"></div>
            <!-- <div class="slide slide2"></div>
            <div class="slide slide3"></div>
            <div class="slide slide4"></div>
            <div class="slide slide5"></div> -->
        </div>
        <!--서브 캐러셀-->
        <article class="slider subSlider">

            <div class="subSlide img">
                <div><img src="">메인 이미지 1</div>
                <div>
                    <img src="">
                    <div class="subSlide text">

                        <h3>이미지 설명 타이틀</h3>
                        <p>한 줄 설명글</p>
                        <div>
                            <button class="arrow left">왼쪽</button>
                            <button class="arrow right">오른쪽</button>
                            <a href="" id="more"><button>더 보기</button></a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- <div>

               <div class="subSlide img">
                  <div><img src="">메인 이미지 2</div>
                  <div><img src="">서브 이미지 2</div>
               </div>
               <div>
                  <h3>이미지 설명 타이틀</h3>
                  <p>한 줄 설명글</p>
                  <div>
                     <button>←</button>
                     <button>→</button>
                     <a href=""><button>더 보기</button></a>
                  </div>
               </div>

            </div>
            <div>

               <div class="subSlide img">
                  <div><img src="">메인 이미지 3</div>
                  <div><img src="">서브 이미지 3</div>
               </div>
               <div>
                  <h3>이미지 설명 타이틀</h3>
                  <p>한 줄 설명글</p>
                  <div>
                     <button>←</button>
                     <button>→</button>
                     <a href=""><button>더 보기</button></a>
                  </div>
               </div>

            </div>
            <div>

               <div class="subSlide img">
                  <div><img src="">메인 이미지 4</div>
                  <div><img src="">서브 이미지 4</div>
               </div>

               <div>
                  <h3>이미지 설명 타이틀</h3>
                  <p>한 줄 설명글</p>
                  <div>
                     <button>←</button>
                     <button>→</button>
                     <a href=""><button>더 보기</button></a>
                  </div>
               </div>

            </div> -->

        </article>

        <!--웨딩 캐러셀-->
        <article id="main_wedding">

            <div>
                <img src="">
                <div>
                    <div>
                        <h3>웨딩 홀 1</h3>
                        <p>한 줄 설명</p>
                    </div>
                    <a href=""><button>바로 가기</button></a>
                </div>
            </div>

            <!-- <div>
               <img src="">
               <div>
                  <div>
                     <h3>웨딩 홀 2</h3>
                     <p>한 줄 설명</p>
                  </div>
                  <a href=""><button>바로 가기</button></a>
               </div>
            </div> -->

        </article>


        <!--중간 배너-->
        <article id="banner">
            <div>
                <h3>배너 타이틀</h3>
                <p>한 줄 글</p>
                <a href="#"><button>보러가기</button></a>
            </div>
        </article>


        <!--이벤트-->
        <article id="event">
            <div>
                <img src="">
                <div>
                    <h3>이벤트 1</h3>
                    <p>한 줄 설명</p>
                    <a href=""><button>→</button></a>
                </div>
            </div>
            <div>
                <img src="">
                <div>
                    <h3>이벤트 2</h3>
                    <p>한 줄 설명</p>
                    <a href=""><button>→</button></a>
                </div>
            </div>
        </article>

        <!--인스타 API (임시)-->
        <article id="instaAPI">
            <div> 인스타 1</div>
            <div> 인스타 2</div>
            <div> 인스타 3</div>
        </article>

        <article id="main_gallery">
            <img src="">
            <img src="">
            <img src="">
        </article>


        <!--게시판 / 오시는 길-->
        <article id="board">
            <div>
                <div class="board boards">
                    <h3>게시판</h3>
                    <a href=""><button>더 보기</button></a>
                </div>

                <div class="board contents">
                    <div class="board content">
                        <p>게시물 타이틀 1</p><br>
                        <sub>게시 날짜</sub><br>
                        <p>본문 일부</p>
                        <a href=""><button>→</button></a>
                    </div>

                    <div class="board content">
                        <p>게시물 타이틀 2</p><br>
                        <sub>게시 날짜</sub><br>
                        <p>본문 일부</p>
                        <a href=""><button>→</button></a>
                    </div>

                </div>
            </div>
            <div class="mapBox">
                <div id="map"></div><!--맵스-->
                <div id="boardMap">
                    <h3>오시는 길</h3>
                    <p>경상남도 고성군 거류면 은월리 17-5</p>
                    <a href=""><button>자세히</button></a>
                </div>
            </div>
        </article>
    </section>
</body>
</html><!--E contents-->